.wp-block-pullquote blockquote, .wp-block-quote:not(.is-large):not(.is-style-large),.wp-block-pullquote {
    border-color: #d85726;
}
.wp-block-file .wp-block-file__button, .wp-block-button .wp-block-button__link{
	background: #d85726;
	color: #ffffff !important;
	border-radius: 0;
    font-weight: 500;
}
.wp-block-file .wp-block-file__button:hover, .wp-block-file .wp-block-file__button:focus, .wp-block-button .wp-block-button__link:hover, .wp-block-button .wp-block-button__link:focus {
    background-color: hsl(30deg 6% 19% / 80%);
    color: #ffffff !important;
    box-shadow: 0px 15px 30px -17px rgb(0 0 0 / 75%);
}

/* block gallery */

figure.wp-block-gallery.columns-3 {
    padding-right: 7%;
}

figure.wp-block-gallery.columns-2 {
    padding-right: 1%;
}

/* block button */

.wp-block-button a.wp-block-button__link {
    border-radius: 30px;
}

.wp-block-button.is-style-outline .wp-block-button__link:hover{
    border: 2px solid  hsl(30deg 6% 19% / 80%);
    color:  hsl(30deg 6% 19% / 80%) !important;
}

.wp-block-button.is-style-outline .wp-block-button__link{
    border: 2px solid #d85726;
    color: #d85726 !important;
}

.wp-block-button.is-style-squared .wp-block-button__link {
    border-radius: 0;
}

.wp-block-button.is-style-outline{    
    padding: 15px 0px;
}

.has-media-on-the-right img{
    width: 21vw;
}

.wp-block-column.is-layout-flow.wp-block-column-is-layout-flow {
     padding: 20px;
}
.wp-block-column.is-layout-flow.wp-block-column-is-layout-flow p{
     margin-bottom: 0px;
}

.page-links {
    clear: both;
}